Twisted
numpy
#opentsdb-pandas==0.0.1
-e git+https://github.com/metrilyx/opentsdb-pandas#egg=opentsdb-pandas
pandas
python-dateutil==2.4.1
pytz==2015.2
requests==2.20.0
six==1.9.0
ujson==1.33
wsgiref==0.1.2
zope.interface==4.1.2
